<div class="text-center p-5 titulo">
  <h1>Game</h1>
</div>

<div class="container py-5">
  <div class="row">

    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Juego de la Oca</h3>
        <p>Ser el primero en llegar a la casilla central de la Gran Oca, saltando de posiciones, según la tirada de los dados y sometido a unas reglas de Juego, establecidas por cada casilla.</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="../../../assets/resources/img/img-oca.jpg" alt="">
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 order-md-2">
        <h3>Pictionary</h3>
        <p>Por equipos, se debe avanzar casillas en el tablero de juego, adivinando lo que el jugador correspondiente
          dibuja. Gana el equipo que llega primero a la casilla final y adivina un último dibujo..</p>
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <img class="img-fluid" src="../../../assets/resources/img/Pictionary.jpg" alt="">
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Tres en raya</h3>
        <p>Cada jugador elige las X o las O, y en su turno debe poner una, intentando conseguir 3 seguidas en una línea vertical, horizontal o diagonal. Una vez se llenan todos los espacios se termina la partida, finalizando en tablas si ninguno consigue enlazar tres de sus fichas seguidas..</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="../../../assets/resources/img/Slider_Tic_Tac_Toe.png" alt="">
      </div>
    </div>

    <div>
      <hr>
    </div>

  </div>
</div>